{% extends 'ecom/admin_base.html' %}
{% load widget_tweaks %}
{% block content %}

<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<br><br><br><br><br><br>

<form method="post">
  {% csrf_token %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card shadow"> <!-- Added 'shadow' class for card shadow effect -->
          <div class="card-body">
            <h5 class="card-title text-center">Update Order Status</h5><br>
            <form method="post" action="{% url 'edit-order' product.id %}">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="text-center mt-3">
                  <button type="submit" class="btn btn-primary">Save Changes</button>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

{% endblock content %}
